<img src="https://github.com/InioX/InioX/assets/81521595/f42d0cce-ba58-4ccf-b008-7dc0434d88e4" height="50" width="50">

<h1>About Me</h1>

<p>
    Hi, my name is Ini.
</p>
<p>
    I am an electrical engineering student from Czechia with a strong interest in how hardware and software work.
</p>
<p>
    Most of my free time is spent working with Linux, experimenting with programming languages, and building tools
    or small projects that help me better understand technology at a deeper level. I enjoy learning by doing,
    especially when it involves low-level concepts, system design, or clean, well-structured code. That's why i
    mainly code in Rust.
</p>
<p>
    I also care a lot about design and usability. I am particularly fond of Material Design 3, and
    colorscheme theory in general.
</p>
<p>
    I regularly work on personal and open-source projects, ranging from experiments to more polished tools. You can
    find most of my work, along with things I am currently learning or exploring, on my <a
        href="https://github.com/InioX" target="_blank" rel="noopener noreferrer">GitHub profile</a>.
</p>


<md-divider></md-divider>

<br>

<img src="https://github.com/InioX/InioX/assets/81521595/1fbe3355-94c6-4f86-a520-2dc06da9dddf" height="50" width="50">

<h2>My languages and tools</h4>

    <div class="table-wrapper">
        <table>
            <tr>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/rust/white" />
                    </svg>
                    <md-text-button trailing-icon href="https://rust-lang.org/">
                        Rust
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/javascript/white" />
                    </svg>
                    <md-text-button trailing-icon href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">
                        Javascript
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
            </tr>
            <tr>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/typescript/white" />
                    </svg>
                    <md-text-button trailing-icon href="https://www.typescriptlang.org/">
                        Typescript
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/mongodb/white" />
                    </svg>
                    <md-text-button trailing-icon href="https://www.mongodb.com/">
                        MongoDB
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
            </tr>
            <tr>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/python/white" />
                    </svg>
                    <md-text-button trailing-icon href="https://www.python.org/">
                        Python
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/gnubash/white" />
                    </svg>
                    <md-text-button trailing-icon href="https://www.gnu.org/software/bash/">
                        Bash
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
            </tr>
            <tr>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/css/white" />
                    </svg>
                    <md-text-button trailing-icon href="www.w3.org/Style/CSS/Overview.en.html">
                        CSS
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/html5/white" />
                    </svg>
                    <md-text-button trailing-icon href="https://www.w3.org/html/">
                        HTML
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
            </tr>
            <tr>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/kotlin/white" />
                    </svg>
                    <md-text-button trailing-icon href="https://kotlinlang.org/">
                        Kotlin
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/nixos/white" />
                    </svg>
                    <md-text-button trailing-icon href="https://nixos.org/">
                        Nix
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
            </tr>
            <tr>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/node.js/white" />
                    </svg>
                    <md-text-button trailing-icon href="https://nodejs.org/en">
                        NodeJS
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
                <td>
                    <svg class="icon" viewBox="0 0 160 200">
                        <image xlink:href="https://cdn.simpleicons.org/react/white" />
                    </svg>
                    <md-text-button trailing-icon href="https://react.dev/">
                        React
                        <svg slot="icon" viewBox="0 0 48 48">
                            <path
                                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                        </svg>
                    </md-text-button>
                </td>
            </tr>
        </table>
    </div>