<svg class="header-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
    <path
        d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h480q33 0 56.5 23.5T800-800v640q0 33-23.5 56.5T720-80H240Zm0-80h480v-640h-80v280l-100-60-100 60v-280H240v640Zm0 0v-640 640Zm200-360 100-60 100 60-100-60-100 60Z" />
</svg>

<h1>My Projects</h1>

<h2 data-no-copy>Matugen</h3>
    <p>
        A Material You color generation tool built in Rust with its own templating engine, support for filters,
        importing data.<br>
        There is also a theme repository mentioned in the README that has a lot of apps supported in it.
    </p>

    <md-filled-tonal-button trailing-icon href="https://www.github.com/InioX/matugen">
        Repo
        <svg slot="icon" viewBox="0 0 48 48">
            <path
                d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
        </svg>
    </md-filled-tonal-button>

    <h2 data-no-copy>Dotfiles</h3>
        <p>
            My personal dotfiles for NixOS, Arch, Windows, and Android. Arch and Windows branches are not really
            maintained
            and just there as an archive.<br>
            The android version has its own script for automatically importing a backup into obtainium and
            installing all
            apps with it.<br>
            It uses adb commands to simulate touch. Might work but i switched to just doing it manually.
        </p>

        <md-filled-tonal-button trailing-icon href="https://www.github.com/InioX/dotfiles">
            Repo
            <svg slot="icon" viewBox="0 0 48 48">
                <path
                    d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
            </svg>
        </md-filled-tonal-button>

        <h2 data-no-copy>Website </h3>
            <p>
                The current website you are looking at right now. It is in pure HTML, CSS and js.
                <br>For the Material You theming it uses <a href="https://m3.material.io/develop/web">Material
                    Design 3
                    for
                    Web</a>.
            </p>

            <md-filled-tonal-button trailing-icon href="https://www.github.com/InioX/iniox.github.io">
                Repo
                <svg slot="icon" viewBox="0 0 48 48">
                    <path
                        d="M9 42q-1.2 0-2.1-.9Q6 40.2 6 39V9q0-1.2.9-2.1Q7.8 6 9 6h13.95v3H9v30h30V25.05h3V39q0 1.2-.9 2.1-.9.9-2.1.9Zm10.1-10.95L17 28.9 36.9 9H25.95V6H42v16.05h-3v-10.9Z" />
                </svg>
            </md-filled-tonal-button>